@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Main page";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>All fans of asparagus right here!</h2>

<a asp-controller="Home" asp-action="Index" class="alert-info">Back to login page</a>

<ul style="padding-top:30px;">
    @foreach (var user in Model)
    {
        <li class="list-group-item">
            @user.Name ate asparagus already @user.Count time(s). Last at @user.Date
        </li>
    }
</ul>

